    /* CSS VARIABLES */
:root{
    --black: #333;
    --blue: #2F80ED;
    --gray: #BDBDBD;
    --red: #EB5757;
}

    /* RESETS */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

    /* GENERAL STYLES */
body{
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 1440px;
}

ul{ list-style: none; }

h1{
    font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
    font-size: 2.25em;
    margin: 30px;
    text-align: center;
}

button { cursor: pointer; }

    /*  TODO LIST APP */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: auto;
}

.nav-stats{
    border-bottom: 1px solid var(--gray);
    padding: 20px 0;
}

.stats{
    display: flex;
}

.stats li{
    margin: 0 10px;
}

.stats li a{
    color: var(--black);
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
}

input[type="text"]{
    border: 1px solid var(--gray);
    border-radius: 12px;
    margin: 15px 15px 30px 25px;
    max-width: 450px;
    padding: 15px;
    width: 65%;
}

.button-add{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    margin: 15px 0 30px;
    padding: 15px 25px;
}

.button-add:hover{
    background-color: #fff;
    color: var(--blue);
}

.todo-list{
    font-weight: 500;
    width: 100%;
}

.todo-list li{
    border-bottom: 1px solid var(--gray);
}

.todo-list li:nth-of-type(even){
    background-color: #ececec;
}

input[type="checkbox"]{
    margin: 10px 5px 10px 25px;
}

.todo-list button{
    float: right;
    margin-right: 25px;
    margin-top: 5px;
    min-width: 50px;
}

.fa-trash-alt{
    background-color: transparent;
    border: none;
    color: var(--gray);
    font-size: 20px;
}

.btn-delete-all{
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    margin: 15px;
    padding: 15px 25px;
}

.btn-delete-all:hover{
    background-color: #fff;
    color: var(--red);
}

/* INTERACTIONCS */

.complete{
    color: #818181;
    text-decoration: line-through;
}