    $black: #333;
    $blue: #2F80ED;
    $gray: #BDBDBD;
    $red: #EB5757;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 1440px;
}